@model List<MovSite.Models.ApplicationUser>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Users</h2>

@if (Model.Count > 0)
{
    <table id="usersTable" class="table table-­‐bordered table-­‐hover">
        <thead>
            <tr class="active">
                <th>Username</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>

                    @if (user.Id == User.Identity.GetUserId())
                    {
                        <td>
                            @Html.ActionLink("Manage", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-primary" })
                        </td>
                    }
                    else
                    {
                        <td>@Html.ActionLink("Delete", "DeleteUser", "Users", new { id = user.Id }, new { @class = "btn btn-danger" })</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#usersTable").DataTable({
                "columns": [
                    { "name": "Username", "orderable": true },
                    { "name": "Email", "orderable": true },
                    { "name": "Delete", "orderable": false }
                ]
            });
        });
    </script>
}

