@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">It's my first web application where you can easily manage your movies/TV shows wishlists and already seen lists.
    For demonstration purposes Movie lists are improved using BootBox, DataTables jQuery plug-ins.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>@Html.ActionLink("Movies wishlist", "Wishlist", "Movies")</h2>
        <p>Here you can add/delete/update your movies wishlist.</p>
    </div>

    <div class="col-md-3">
        <h2>@Html.ActionLink("Movies already seen", "AlreadySeen", "Movies")</h2>
        <p>Here you easily manage your already seen movies list.</p>
    </div>

    <div class="col-md-3">
        <h2>@Html.ActionLink("TV shows wishlist", "Wishlist", "TVShows")</h2>
        <p>Here you can do the same stuff as with movies wishlist.</p>
    </div>

    <div class="col-md-3">
        <h2>@Html.ActionLink("TV shows already seen", "AlreadySeen", "TVShows")</h2>
        <p>Got TV shows that you already saw? Great, you can store them here.</p>
    </div>
</div>